.cards-container {
    margin-top:10px;
    margin-bottom:60px;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* Adjust column width as needed */
    grid-gap: 20px; /* Adjust gap between cards */
    font-size: 24px;
}

.card {
    width: 100%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.card:hover {
  transform: scale(1.05); /* Zoom in effect on hover */
  z-index:1;
}

.card-field {
    margin-bottom: 5px;
}

.field-name {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}

.field-value {
    color: #333;
}

.card-field hr {
    border: none;
    border-top: 1px solid #ccc;
}

.action-card-cell {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

@media (max-width: 991px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .card {
        width: calc(100% - 20px);
    }
}

.button-expand {
    width: 60px;
}

