.modal-create {
    overflow-y: auto;
    height: 100%;
    position: relative;
}

.modal-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.textarea-container {
    height: 50%;
}

.textarea-container textarea {
    width: 100%;
    height: 100%;
}