.search-bar {
  position: relative; /* Change position to relative */
  display: flex;
  justify-content: space-between;
  top: 0px; /* Adjust top position to be below the page header */
  background-color: #fff; /* Adjust background color */
  padding-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Adjust z-index to appear above the main content */
  transition: top 0.3s ease; /* Add transition for smooth movement */
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    height:50px;
}

.search-input input {
    flex: 1;
    border: none;
    outline: none;
    margin-top:0px;
}

.search-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
}
