.search-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0px;
  background-color: #121212;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: top 0.3s ease;
}

.search-bar-advanced {
  padding-top: 0px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    height:50px;
    width:33%;
}

.search-input input {
    flex: 1;
    border: none;
    outline: none;
    margin-top:0px;
}

.search-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
}

.search-display {
    display: flex;
    justify-content: space-between;
    width:33%;
    height:50px;
}

.search-display button:not(:last-child) {
    margin-right: 10px;
}

.search-selector {
    width:33%;
    height: 50px;
}

.search-selector select {
    padding: 12px;
}
