.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  min-width: 40px;
  background-color: #333; /* Sidebar background color */
  transition: width 0.3s ease; /* Smooth transition for width changes */
  z-index: 1000; /* Ensure the sidebar appears above other content */
}

.sidebar.expanded {
  width: 160px; /* When expanded, set width to 20% */
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #555; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
}

.sidebar-items li {
  padding: 10px;
}

.sidebar-items li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-items li a.active {
  font-weight: bold;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.footer-watermark {
    margin-top: 5px;
    font-size: 10px;
}
