.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  min-width: 70px;
  background-color: #333; /* Sidebar background color */
  transition: width 0.3s ease; /* Smooth transition for width changes */
  z-index: 1000; /* Ensure the sidebar appears above other content */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds sidebar height */
}

.sidebar.expanded {
  width: 220px; /* When expanded, set width to 20% */
  text-align: center;
}

.sidebar button {
  display: block;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #555; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  font-size: 28px;
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
}

.sidebar-items li {
  padding: 15px;
  font-size: 28px;
}

.sidebar-items li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-items li a.active {
  font-weight: bold;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 24px;
}

.footer-watermark {
    margin-top: 5px;
    font-size: 18px;
}

.button-logout {
    font-size: 28px;
    margin-left:10px;
}
