.registration-form, .login-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 28px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 28px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button-confirm {
    background-color: green;
}

.button-delete {
    background-color: red;
}

.content {
    margin-left: 70px;
    padding: 10px;
}

.content-expanded {
    margin-left: 150px;
    transition: margin-left 0.3s ease;
}

body {
    transition: margin-left 0.3s ease;
}

.selector {
    display: flex;
    align-items: center;
}

.selector label {
    margin-right: 10px;
    font-size: 24px;
}

.selector select {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 8px;
    font-family: "Arial Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.selector select:focus {
    outline: none;
    border-color: #0056b3;
}

.session-timer {
    display:flex;
    align-items: center;
    font-size:28px;
}

.page-header {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: "Arial Narrow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

