.table {
    font-size: 26px;
    width: 100%;
    padding: 15px;
    border: 2px solid;
    border-radius: 8px;
    font-family: "Arial Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

.action-table-cell {
    display: flex;
    justify-content: flex-start;
}

.action-table-cell .button-delete {
    max-width: 100%;
    min-width: 70px;
}

.action-table-cell button {
    max-width: 50%;
}

.action-table-cell button:not(:last-child) {
    margin-right: 3%;
}